i3/logfile
vim/.netrwhist
nushell/history.txt
vim/plugged
qutebrowser/bookmarks/
/poshthemes/.poshthemes/
/qutebrowser/rosepine/
/qutebrowser/quickmarks
/qutebrowser/qsettings/
/qutebrowser/autoconfig.yml
/nvim/lazy-lock.json
/nvim/spell
